<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Telerik UI for ASP.NET Core 2022.1.301(AdditionalPackages)" value="C:\Users\assis.zang\AppData\Roaming\Telerik\Updates\telerik.ui.for.aspnet.core.hotfix.2022.1.301.commercial\" />
    <add key="Telerik UI for ASP.NET Core 2022.1.301(MainPackage)" value="C:\Users\assis.zang\AppData\Roaming\Telerik\Updates\telerik.ui.for.aspnet.core.hotfix.2022.1.301.commercial\wrappers\aspnetcore\Binaries\AspNet.Core" />
  </packageSources>
</configuration>