@{
    ViewData["Title"] = "Home Page";
}

<div>
    @(Html.Kendo().PanelBar()
                                            .Name("IntroPanelBar")
                                            .Items(items =>
                                            {
                                                items.Add()
                                                    .Text("ASP.NET Core")
                                                    .Selected(true)
                                                    .Expanded(true)
                                                    .Content(@<text>
                                                        <p style="padding:1em 2em">
                                                            Learn how to build ASP.NET apps that can run anywhere.
                                                            <a target="_blank" href="http://go.microsoft.com/fwlink/?LinkID=525028&clcid=0x409">Learn More</a>
                                                        </p>
                                                    </text>);
                                                        items.Add()
            .Text("Visual Studio")
            .Content(@<text>
                <p style="padding:1em 2em">
                    There are powerful new features in Visual Studio for building modern web apps.
                    <a target="_blank" href="http://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">Learn More</a>
                </p>
            </text>);
                                            items.Add()
.Text("Package Management")
.Content(@<text>
    <p style="padding:1em 2em">
        Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
        <a target="_blank" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">Learn More</a>
    </p>
</text>);
                                        })
    )
</div>